<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Главная</title>

	<%= stylesheet_link_tag "main", media: "all", "data-turbolinks-track" => "reload" %>
	<!-- <link rel="stylesheet" href="style.css">
	<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css"> -->
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="logo">
				<img src="img/logo.png" alt="Логотип">
			</div>
			<div class="main_menu">
				<a href="index.html">Главная</a></li>
				<a href="catalog.html">Каталог</a>
				<a href="contacts.html">Контакты</a>
			</ul>
		</div>
		<div class="name">
			<h1>Sneakers Store</h1>
			<h2>Покупай кроссовки у нас</h2>
		</div>
		<div class="catalog">
			<div class="product">
				<a href="products/products-01.html">Nike Red</a>
				<img src="img/img1.png" alt="Nike Red" title="Nike Red">
			</div>
			<div class="product">
				<a href="products/products-02.html">Nike Green</a>
				<img src="img/img2.png" alt="Nike Green" title="Nike Green">
			</div>
			<div class="product">
				<a href="products/products-03.html">Nike Black</a>
				<img src="img/img3.png" alt="Nike Black" title="Nike Black">
			</div>
			<div class="product">
				<a href="products/products-04.html">Converse</a>
				<img src="img/img4.png" alt="Converse" title="Converse">
			</div>
			<div class="product">
				<a href="products/products-05.html">Nike Blue</a>
				<img src="img/img5.png" alt="Nike Blue" title="Nike Blue">
			</div>
			<div class="product">
				<a href="products/products-06.html">Vance</a>
				<img src="img/img6.png" alt="Vance" title="Vance">
			</div>
		</div>
		<div class="clr"></div>
		<div class="footer">
			<div class="social">
				<a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
				<a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
			</div>
			<div class="copyright">
				<p>Все права защищены &copy;</p>
			</div>
		</div>
	</div>
</body>
</html>
