
<div class="container">
	<div class="catalog">
		<div class="product">
			<%= link_to "Обувь", shoes_index_url %>
			<%= image_tag "product_default" %>
		</div>
	</div>
</div>

<ul id="slides">
    <li class="slide showing">Slide 1</li>
    <li class="slide">Slide 2</li>
    <li class="slide">Slide 3</li>
    <li class="slide">Slide 4</li>
    <li class="slide">Slide 5</li>
</ul>
