/********** BASE SETTINGS **********/

* {
	margin: 0;
	padding: 0;
}
/*  .slider, .controls, .slide, .left, .right {
	border: 1px solid red;
}   */
/*.main_menu li a {
	border: 1px solid blue;
} */
/*@font-face {
    font-family: 'Noto Serif';
    src: font-url(NotoSerif-Regular.ttf);
}
body {
	font-family: 'Noto Serif', serif;
	background-color: #f8f8f8
}
*/
/********** CONTAINER **********/

.container {
	min-height: 100%;
}

/********** HEADER **********/

.header {
	height: 80px;
}
.logo {
	display: block;
	background: url(logo_small.png);
	width: 150px;
	height: 150px;
	margin: 0 2%;
	float: left;
}
.logo:hover {
	background: url(logo_small_hover.png);
}
.main_menu {
	margin: 0;
	padding: 0;
	height: 80px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main_menu a {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	background: #A6A6A6;
	text-decoration: none;
	color: #fff;
	font-size: 1.2em;
}
.main_menu a:hover {
	color: #A6A6A6;
	background: #EAFA07;
	font-weight: bold;
}

/********** BODY **********/

.slider {
	height: 400px;
	margin-top: 10px;
}
#slides{
    position: absolute;
    height: 400px;
    width: 100%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}
.slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;

    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
}

.showing{
    opacity: 1;
    z-index: 2;
}
.slide{
    font-size: 40px;
    padding: 40px;
    box-sizing: border-box;
    background: #333;
    color: #fff;
}
.slide:nth-of-type(1){
    background-image: url(slide1.jpg);
}
.slide:nth-of-type(2){
    background-image: url(slide2.jpg);
}
.slide:nth-of-type(3){
    background-image: url(slide3.jpg);
}
.slide:nth-of-type(4){
    background-image: url(slide4.jpg);
}
.slide:nth-of-type(5){
    background-image: url(slide5.jpg);
}
.controls {
    display: none;
    position: relative;
    z-index: 3;
    width: 100%;
}
.arrows {
	display: flex;
	height: 400px;
	justify-content: space-between;
	align-items: center;
	opacity: 0;
}
.arrows:hover {
	opacity: 0.3;
}
.name h1 {
	text-align: center;
}
.name h2 {
	text-align: center;
}
.catalog {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.product {
	position: relative;
	width: 200px;
	height: 200px;
	margin: 10px;

}
.product a {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	opacity: 0;
}
.product a:hover{
	text-decoration: none;
	color: #FFF;
	font-size: 1.2em;
	background-color: rgba(166, 166, 166, 0.8);
	opacity: 1;
}

/********** FOOTER **********/
.clr {
	height: 150px;
}
.footer {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 150px;
	background-color: #242424;
	color: #FFF;
	margin-top: -150px;
	clear: both;
}
.social a{
	display: block;
	background: url(vk.png);
	width: 40px;
	height: 30px;
}
.social a:hover {
	background: url(vk_hover.png);
}
.copyright {
	margin-top: 25px;
	font-size: 0.8em;
}
.copyright a {
	text-decoration: none;
	color: #fff;
}
