/*.product_img_show {
	border: 1px solid red;
}   
.producr_dis_show {
	border: 1px solid blue;
} */

.product_show {
	display: flex;
	justify-content: center;
	align-items: center;
}
.product_img_show {
	margin: 20px;
	float: left;
}
.producr_dis_show {
	margin: 20px;
	width: 40%;
	font-size: 1.1em;
}
.producr_dis_show p strong {
	color: #828181;
}
.producr_dis_show button {
	width: 210px;
	height: 60px;
	background: #42b814;
	border: none;
	font-size: 0.9em;
	color: #fff;
	font-weight: bold;
}
.producr_dis_show button:hover {
	background: #EAFA07;
	color: #828181;
}
