<div class="container">
	<div class="catalog">
		<% @products.each do |product| %>
			<div class="product">
				<%= link_to product.name, product_path(product) %>
				цена
				<%= image_tag product.picture.url %>
			</div>
		<% end %>
	</div>
</div>

